@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Outfit', sans-serif;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    @apply antialiased;
  }
}

@layer components {
  .attachment-option {
    @apply flex items-center px-3 py-2 cursor-pointer rounded-lg transition-colors;
  }
  
  .attachment-option:hover {
    @apply bg-slate-700/50;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}